
<body>
    <div class="body__inner">
        <section class="p-fv l-fv">
            <div class="p-fv__inner">
                <div class="p-fv__img">
                    <img src="{{ 'fv.png' | file_url }}" alt="ロゴ"width=""height=""alt="インナーは素肌に最も近いから どんなウェアの中でも 一番自分らしくあってほしい。">
                </div>
                <div class="p-fv__txts">
                  <div class="p-fv__txt">
                        インナーは素肌に最も近いから<br>どんなウェアの中でも<br>一番自分らしくあってほしい。
                    </div>
                    <div class="p-fv__txt">
                        痛みは我慢したくない。<br>ちょっとキレイに見せてほしい。<br>そんな小さなワガママが<br>
                        わたしの自信につながっているのかもしれない。
                    </div>
                </div>
            </div>
        </section>
        <section class="p-feature l-feature">
            <div class="p-feature__container">
                <div class="p-feature__inner">
                    <div class="p-feature__contents">
                        <div class="p-feature__cont">
                            <div class="p-feature__cont__wrapper parallax-wrapper">
                                <!-- 背景として固定される画像 -->
                                <div class="p-feature__cont__image parallax-image">
                                      <img src="{{ 'supportivefit.png' | file_url }}"width=""height="" alt="supportive fit">
                         
                                </div>

                                <!-- スクロールしてくるコンテンツ -->
                                <div class="p-feature__cont__content">
                                    <div class="p-feature__cont_titles text-block">
                                        <h2 class="p-feature__cont_title">
                                                   <img src="{{ 'numbering_1.png' | file_url }}"width=""height="" alt="supportive fit">
                                            supportive fit
                                        </h2>
                                        <p class="p-feature__cont_desc">
                                            圧倒的なホールド力で胸のトップの位置を引き上げます。これまで我慢してきた着心地の痛みもなく、柔らかい着心地を体感していただけます。
                                        </p>
                                    </div>

                                    <div class="p-feature__cont_user text-block">
                                        <div class="slider slider__none">
                                            <div><img src="{{ 'support_01.png' | file_url }}" width=""height=""alt="supportive fit"></div>
                                        </div>
                                        <div class="p-feature__cont_user_box">
                                            <p class="p-feature__cont_user_ttl">user voice:</p>
                                            <p class="p-feature__cont_user_desc">アンダーゴムがフィットするのに全然痛みがなくてびっくり！</p>
                                        </div>
                                    </div>

                                    <div class="p-feature__cont_price text-block">
                                        <p>Standard / スタンダード ナイロンポリ ¥3,980
                                            <a href="https://leberee.net/products/lebelee_standard">BUY</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-feature__cont">
                            <div class="p-feature__cont__wrapper parallax-wrapper">
                                <!-- 背景として固定される画像 -->
                                <div class="p-feature__cont__image parallax-image">
                                     <img src="{{ 'supportivefit2.png' | file_url }}" width="" height="" alt="daily outfit" >
                                </div>

                                <!-- スクロールしてくるコンテンツ -->
                                <div class="p-feature__cont__content">
                                    <div class="p-feature__cont_titles text-block">
                                        <h2 class="p-feature__cont_title">
                                       <img src="{{ 'numbering_2.png' | file_url }}"width=""height=""alt="daily outfit" >

                                            daily outfit</h2>
                                        <p class="p-feature__cont_desc">
                                            lebereeは背中や胸のあきなどを想定して、さまざまなお洋服に合うように作っています。わたしたちが身に着けるお洋服は多種多様、もうお洋服に合わせてインナーを替える必要はありません。
                                        </p>
                                    </div>
                                    <div class="p-feature__cont_user text-block">
                                        <div class="slider slider__active">
                                         <div><img src="{{ 'support_02_1.png' | file_url }}" width=""height=""alt="daily outfit"></div>
                                           <div><img src="{{ 'support_02_2.png' | file_url }}"width=""height="" alt="daily outfit"></div>
                                             <div><img src="{{ 'support_02_3.png' | file_url }}"width=""height=""alt="daily outfit" ></div>
                                             <div><img src="{{ 'support_02_4.png' | file_url }}"width=""height=""alt="daily outfit" ></div>

                                        </div>
                                        <div class="p-feature__cont_user_box p-feature__cont_user_box--second">
                                            <p class="p-feature__cont_user_ttl">user voice: </p>
                                            <p class="p-feature__cont_user_desc">lebereeは肩や背中が見えても品があります。<br>
                                                同じインナーなのに合わせやすくて楽ちんなのも◎</p>
                                        </div>
                                    </div>
                                    <div class="p-feature__cont_price text-block">
                                        <p> Standard / スタンダード ナイロンポリ ¥3,980 <a
                                                href="https://leberee.net/products/lebelee_standard">BUY</a></p>
                                        <!-- 必要に応じてさらに続けていけます -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-feature__cont">
                            <div class="p-feature__cont__wrapper parallax-wrapper">
                                <!-- 背景として固定される画像 -->
                                <div class="p-feature__cont__image parallax-image">
                                       <img src="{{ 'supportivefit3.png' | file_url }}" width=""height=""alt="daily outfit">
                                </div>

                                <!-- スクロールしてくるコンテンツ -->
                                <div class="p-feature__cont__content">
                                    <div class="p-feature__cont_titles text-block">
                                        <h2 class="p-feature__cont_title">
                                            <img src="{{ 'numbering_3.png' | file_url }}"  width=""height=""alt="for your sizes">
                                            for your sizes</h2>
                                        <p class="p-feature__cont_desc">
                                            何よりも大切にしてほしいのは、どんな時、どういう気持ちでありたいか。カップ数×アンダーでサイズを選ばなくていいのがlebereeの特徴。自分の一番好きな着心地でお選びください。
                                        </p>
                                    </div>
                                    <div class="p-feature__cont_desc text-block">
                                        <div class="p-feature__cont_desc__inner">
                                            <div class="p-feature__cont_desc--ttl">help for<br>first-time user</div>
                                            <div class="p-feature__cont_desc--desc">
                                                初めてlebereeのインナーを着用される方は以下の表をご参考にしてください。
                                            </div>
                                            <span class="p-feature__cont_desc--desc">
                                                サイズが決めきれない方は、以下の表もご参考に。
                                            </span>
                                            <div class="p-feature__cont_desc--img">
                                     <img src="{{ 'graph.png' | file_url }}"width=""height=""alt="初めてlebereeのインナーを着用される方は以下の表をご参考にしてください" >
                                            </div>
                                            <div class="p-feature__cont_desc--desc p-feature__cont_desc--under_desc">
                                                しっかりホールドしたいならSサイズ、おうちで家事をする時などリラックスしたい時にはあえて大きめサイズにするなど、複数サイズを使い分けることもできます。
                                            </div>

                                        </div>
                                    </div>
                                    <div class="p-feature__cont_price text-block">
                                        <p> Standard / スタンダード ナイロンポリ ¥3,980 <a
                                                href="https://leberee.net/products/lebelee_standard">BUY</a></p>
                                        <!-- 必要に応じてさらに続けていけます -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="p-footer__inner">
            <div class="p-footer__desc">
                家庭と社会の両方で奮闘する女性たちが増えてきた今だからこそ、インナーウェアにだってありのまま、自由さを求めたい。インナーは自分に一番近いもの。 毎日の生活に寄り添ってくれる、
                あなたの一番の味方になってくれるものであってほしい。
            </div>
            <a href="https://leberee.net/pages/diagnosis" class="p-footer__btn">
                <span class="p-footer__btn_txt"> あなたに似合うサイズを調べる</span>
                <span>

                    <img class="utils-hidden-unhover" src="{{ 'arrow.svg' | file_url }}" alt="あなたに似合うサイズを調べる"width=""height="">
                    <img class="utils-hidden-hover" src="{{ 'arrow_white.svg' | file_url }}" alt="あなたに似合うサイズを調べる"width=""height="">
                </span>
            </a>
            <div class="p-footer__copies">
                <div class="p-footer__copy p-footer__copy--jp">
                    自由に、もっと素直に
                </div>
                <div class="p-footer__copy p-footer__en">
                    let’s be free, let’s be honest.
                </div>
            </div>
            <div class="p-footer__logo">
                <img src="{{ 'leberee_logo.svg' | file_url }}" alt="ロゴ"width=""height="">
            </div>
            <div class="p-footer__icon">
                <a href="https://www.instagram.com/leberee.official/">
                    <img src="{{ 'instagram.svg' | file_url }}" alt="インスタグラム"width=""height="">
                </a>
            </div>
        </div>
    </footer>
</body>


{% schema %}
{
  "name": "カスタムLP2",
  "tag": "section",
  "class": "section",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "カスタムLP2"
    }
  ]
}
{% endschema %}
